# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Trabajo\Empresa\Gabo Dev\Estudios\Desarrollo Aplicaciones\Java\master-completo-en-java-de-cero-a-experto-2022-127-hrs\2-poo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
